<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="mb-3 row">
     <%= form.label current_user.email if user_signed_in?%>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, id:"text", class: "form-control", placeholder: "Comment", rows: "3"%>
  </div>

  <div class="actions">
    <%= form.submit "Create Comment", class: "w-100 btn btn-md btn-outline-primary", type:"submit"  %>
  </div>
<% end %>
